{
    "useTabs": false,
    "tabWidth": 4,
    "arrowParens": "always",
    "semi": false,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ]
}
